.ModalSideBar{
    display: none;
    opacity: 0;
    transition: .3s all;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    max-height: 87.2vh; //ПИпец
    border-radius: 0 15px 0 0;

    background-color: var(--colorTransBlack);

    &__container{
        width: 180px;
        height: 100%;
        background-color: var(--colorWhite);
        overflow: auto;
        transform: translateX(-180px);
        transition: .3s all;

        &.container_active{
            transform: translateX(0px);
        }
    }

    &.active{
        display: block;
    }
}