

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.body--overflow{
    // max-height: 100vh;
    // height: 100%;
    overflow: hidden;
    .Main{
        padding-right: 17px;
    }
    .Header{
        padding-right: 17px;
    }
}
.Header{
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--linear);
}
.Main{
    flex-grow: 1;
    background-color: var(--colorWhite);
    border-radius: 15px 15px 0 0;
    position: relative;

    display: flex;
    flex-direction: column;
    &__container{
        padding: 5px;
    }
}
.Content{
    flex-grow: 1;
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.Footer{
    flex-shrink: 0;
}
